* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  width: screen;
}

#navbar {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 999;
}

#navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar ul li {
  padding-left: 1em;
  padding-right: 1em;
  list-style: none;
  font-size: 1.2rem;
}

#navbar ul li a {
  display: flex;
  height: 6vh;
  text-decoration: none;
  color: #574b60;
  align-items: center;
}

#navbar ul li a:hover {
  color: linen;
  transition: 0.5s;
}

#navbar ul li:hover {
  background-color: #574b60;
  transition: 0.5s;
}

#welcome-section {
  background-color: #574b60;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: screenn;
}

#welcome-section h1 {
  font-size: 3rem;
}

#welcome-section p {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
}

#headshot {
  height: 240px;
  width: 240px;
  object-fit: cover;
  border-radius: 50%;
}

#tech-section p {
  margin-top: 1em;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
}

#tech-stack {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#tech-stack img {
  margin: 1em;
}

#tech-stack img:hover {
  transform: scale(1.2);
  transition-duration: 350ms;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  color: white;
  background-color: #8599a7;
  height: auto;
  text-align: center;
}

.tile-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.project-tile {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: #574b60;
  border-radius: 10px;
}

.image-container {
  width: 75%;
  height: 100%;
}

.tile-img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  border-radius: 10px;
}

.info {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: #eae6e5;
}

.info img {
  width: 60px;
  height: 60px;
  margin: 0.5em;
}

.info p {
  margin-bottom: 1em;
  padding: 0.5em;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-size: 2rem;
  padding: 1em 0 1em 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  max-width: 1400px;
  column-gap: 2em;
  row-gap: 2em;
  width: 90%;
  margin: auto;
  padding-bottom: 4em;
  justify-items: center;
}

.name {
  background-color: rgb(42, 80, 136);
  margin: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5em;
}

.name a {
  text-decoration: none;
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name:hover {
  background-color: white;
  transition: 0.5s;
}

.name a:hover {
  color: rgb(42, 80, 136);
  transition: 0.75s;
}

#contact {
  padding: 0 3em 0 3em;
  position: relative;
  height: 100vh;
  background-color: #eae6e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact h1 {
  font-size: 4rem;
  text-decoration: underline;
  color: rgb(160, 154, 149);
}

#contact p {
  font-size: 20px;
  margin-top: 10px;
}
.social-icons {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 4rem;
  margin-top: 1em;
}

.social-icons a {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: black;
  text-decoration: none;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.social-icons a:hover {
  color: rgb(160, 154, 149);
  transition: 1s;
}

.social-icons svg:hover {
  fill: rgb(160, 154, 149);
  transition: 0.5s;
}

.divider {
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 6px;
  background-color: black;
}

footer {
  position: absolute;
  bottom: 2em;
}

footer a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 760px) {
  .project-tile {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
    width: 100%;
  }

  .tech {
    flex-direction: row;
  }

  .image-container {
    width: 100%;
  }

  .tile-container {
    height: max-content;
  }
}

@media only screen and (max-width: 500px) {
  #contact h1 {
    font-size: 3rem;
    text-align: center;
  }

  #welcome-section h1 {
    font-size: 2rem;
    text-align: center;
  }
  #welcome-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}
